h1{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
    font-size: 290%;
    opacity: 2.0;
    text-decoration: underline;text-decoration-color: blue; 
}
body{
    background-color: #000000;
}
.slider {
    appearance: none;
    width: 30%; /* Full-width */
    height: 25px; /* Specified height */
    background: #ffffff; 
    outline: none; /* Remove outline */
    border-end-end-radius: 30px;
    border-start-end-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    opacity: 2.0; 
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    position: fixed;
    top: 60%;
    left: 55%;
   
  }

.slider:hover {
  opacity: 0.7; /* Fully shown on mouse-over */
  
}
.slider::-webkit-slider-thumb {
  /* -webkit-appearance: caret; */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #98bd12; /* Green background */
  cursor: pointer ; /* Cursor on hover */
  border-radius: 100%;
  
  }

.login{
  background-color: #1f1d1d;
  border-radius: 75px;
  text-align: center;
  padding-top: 50px;
  width: 500px;
  height: 450px;
  position: absolute;
  top:100;
  right:150;
  font-size: larger;
}
.logo{
  position: relative;
  top: 10%;
  right: 0%;
}
img{
  position: absolute;
  top: -20;
  left: 20;
  width: 500px;
  border-radius: 300px;
}
