body{
    background-color: #000000;
    color: #ffffff;
}
html,body{              /*Used here to remove the extra space from bottom*/
    height: 100%;
    padding: 0;
    margin-top: -225px;
}
.logo{
    width: 500px;
    height: 1080px;
}
img{
    position: absolute;
    top: 50;
    left: 100;
    width: 550px;
    border-radius: 300px;
}
h1{
    padding: 10px;
    font-style: bold;
}
.login{
    background-color: #1f1d1d;
    border-radius: 75px;
    text-align: center;
    padding-top: 50px;
    width: 500px;
    height: 450px;
    position: absolute;
    top:100;
    right:150;
    font-size: larger;
}
input{
    text-align: center;
    width: 200px;
    height: 50px;
    opacity: 0.5;
    border-radius: 15px;
}
input:hover{
    opacity: 1;
}
label{
    font-size: larger;
}
a{
    font-size: larger;
    color: #ffffff;
    text-decoration: none;
}
button{
   width: 110px; 
    height: 55px; 
    border-radius: 100px;
    transition: width 500ms, height 500ms, font-size 500ms;
    opacity: 0.75;
    outline-style: groove;
    outline-width: 5px;
    outline-color: rgb(138, 92, 126);
}
button:hover{
    width: 150px;
    height: 75px;
    border-radius: 100px;
    opacity: 1;
    font-size: larger;
}
