/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200;300;400;500;600;700&display=swap');/*
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* *******************************************utulity classes****************** */
body{
    background-color: #302b2b;
    color:#ffffff; 
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.navbar{
    position:fixed;
    background-color: #302b2b;
    right: 0;
    left: 0;
    top:0;
    z-index: 3;
}
h2{color:#302b2b;}
.btn{
    display: inline-block;
    padding: 1em 2.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
/*     margin-top: 1em; */
    text-transform: uppercase;
    font-weight: 500;
}
.btn-primary{
    position:relative;
    top:-20px;
    color: #ffffff;
    background: #28a475;
}
/* ***************navbar styling */
/* for desktop mode */
.navbar-container input[type='checkbox'],
.navbar-container .hamburGer-lines{
    display: none;
}

.navbar-container{
 display: flex;
 justify-content:space-between ;
 height: 64px;
 align-items: center;
}
 .menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 3rem;
    position: fixed;
    left:0;
    padding-left: 15px;
}
.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.8rem;
}
.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
.navbar a:hover{
    color:rgb(255, 145, 0);
}
/* *******************showcase styling************* */
.showcase-area{
    height: 50vh;
    background: url("./img/header-image2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*     padding-top: 10px; */
    height: 100%;
    font-size: 1.6rem;
}
.showcase-container p{ padding-bottom: 10px;}
.main-title{
    padding-top: 40px;
    font-size: 2em;
    text-transform: uppercase;
}
/* ***********************About us************** */
#about{
    padding: 50px 0px;
    background: #ffffff;
}
.about-wrapper{
    display: flex;
    flex: wrap;
    /* flex-direction: row; */
    /* flex-direction: column; */
}
#about h2{
    font-size: 3.2rem;
    /* font-size: 32px; */
}
#about p{
    font-size: 1.6rem;
    /* font-size: 16px; */
    color: #555;
}
#about .small{
    font-size: 1.6rem;
    /* font-size: 16px; */
    color: #666;
    font-weight: 600;
}
.about-img {
flex-grow: 1000;
flex-shrink: 1;
flex-basis: 10px;
padding: 30px;
height: 810px;
width: 450px;
margin: auto;
/* border: 2px solid red; */
transform : translateX(100%);
animation : about-img-animation 1s ease-in-out forwards;
}
@keyframes about-img-animation {
    100%{
        transform:translateX(0);
    }

}
.about-text{
flex-grow: 1;
flex-shrink: 1;
flex-basis: 400px;
padding: 30px;
margin: auto;
transform: translate(-150%);
animation: about-text-imagination 1s ease-in-out forwards;
}
@keyframes about-text-imagination {
    100%{
        transform:translate(0);
    }
}
.about-img img{
    display: block;
    height: 810px;
    width: 450px;
    
    object-fit: cover;
    object-position: right;
}
/* ******************food category styling************* */
#food{
    padding: 5rem 0 10rem 0;
}
#food h2{
    text-align: center;
    font-size: 3rem;
    /* font-size: 48px; */
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #fff;
}
.food-container{
    display: flex;
    justify-content: space-between;
}
.food-container img{
    display: block;
    width: 500px;
    height: 500px;
    /* padding: 10px; */
    margin: auto;
    max-height: px;
    object-fit: cover;
    object-position: center;
}
.img-container{
    margin: 0 1rem;
    position: relative;
   
}
.img-content{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 0;
    text-align: center;
    transition:all 0.3s ease-in-out 0.1s;
}
.img-content h3{
 color: #fff;
 font-size: 3rem;
}
.img-content a{
    z-index: 1;
    font-size: 1.2rem;
}
.img-container::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.871);
    /* opacity: 0; */
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}
.img-container:hover::after{
    z-index: 1;
    opacity:0.75;
    transform: scaleY(1);
}
.img-container:hover .img-content{
    z-index: 2;
    opacity: 1;
    top: 40%;
}
/* **********************food styling ************* */
.container h2{
    text-align: center;
    font-size: 3rem;
    /* font-size: 48px; */
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #fff;
}
.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 30px 0;
}
.food-menu-container img{
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.food-menu-item{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 600px;
    justify-content: space-evenly;
    margin-bottom: 30px;
    /* margin-bottom: 3rem; */
}
.food-description{
    margin: auto 15px;
    /* margin: auto 1.5rem; */
}
.food-title{
    font-size: 14px;
    font-weight: 400;
    color: #444;
}
.food-description p{
    font-size: 14px;
    color: #555;
    font-weight: 500;
}
.food-description .food-price{
    color: #117964;
    font-weight: 700;
}
/* ****************testimonial styling********************* */
#testimonials{
    padding: 50px 0;
    background: rgb(243, 243, 243);
}
.testimonial-title{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #555;
}
.testimonial-container{
    display: flex;
    justify-content: space-between;
    font: size 16px;
    padding: 10px;
}
.testimonial-box .checked{
    color: #ff9529;
}
.testimonial-box .testimonial-text{
    margin: 10px 0;
    color: #444;
}
.testimonial-box{
    text-align: center;
    padding: 10px;
}
.customer-photo img{
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: auto;
}
.customer-name{ color: #000;}
/* **********************footer styling ********************* */
#footer h2{
    text-align: center;
    background: rgb(65, 65, 65 );
    font-size: 20px;
    font-weight: 500;
    padding: 30px;
    color: #fff;
}
 .container{ 
     width: 1000px; 
     margin: auto; 
     transition: 0.5s; 
 } 
 header{ 
     display: grid; 
     grid-template-columns: 1fr 50px; 
     margin-top: 50px; 
 } 
 header .shopping{ 
     position: relative; 
     text-align: right; 
 } 
 header .shopping img{ 
     width: 40px; 
 } 
 header .shopping span{ 
     background: red; 
     border-radius: 50%; 
     display: flex; 
     justify-content: center; 
     align-items: center; 
     color: #fff; 
     position: absolute; 
     top: -5px; 
     left: 80%; 
     padding: 3px 10px; 
 } 
 .list{ 
     display: grid; 
     grid-template-columns: repeat(1, 1fr); 
     column-gap: 20px; 
     row-gap: 20px; 
     margin-top: 50px; 
     color: #000;
 } 
 .list .item{ 
     text-align: center; 
     color:#fff;
     background-color: #302b2b; 
     padding: 20px; 
/*      box-shadow: 0 50px 50px #757676;  */
     letter-spacing: 1px; 
 } 
 .list .item img{ 
     float: left;
     width: 250px;
     border-radius: 250px;
 } 
 .list .item .title{ 
     font-weight: 600; 
 } 
 .list .item .price{ 
     margin: 10px; 
     color: #117964;
 } 
 .list .item button{ 
     background-color: #1C1F25; 
     color: #fff; 
     width: 12%; 
     padding: 10px; 
     border-radius: 100%;
     float: right;
 } 
 .card{ 
     position: fixed; 
     top:0; 
     left: 100%; 
     width: 500px; 
     background-color: #453E3B; 
     height: 100vh; 
     transition: 0.5s; 
     z-index: 4;
 } 
 .active .card{ 
     left: calc(100% - 500px);
     z-index: 4;
 } 


 .active .container{ 
    transform: translateX(-200px); 
 } 

 .card h1{ 
     color: #E8BC0E; 
     font-weight: 100; 
     margin: 0; 
     padding: 0 20px; 
     height: 80px; 
     display: flex; 
     align-items: center; 
 } 
 .card .checkOut{ 
     position: absolute; 
     bottom: 0; 
     width: 100%; 
     display: grid; 
     grid-template-columns: repeat(2, 1fr); 
     z-index: 3;
 } 
 .card .checkOut div{ 
     background-color: #1C1F25;
     width: 100%; 
     height: 35px; 
     display: flex; 
     justify-content: center; 
     align-items: center; 
     font-weight: bold; 
     cursor: pointer; 
 } 
 .card .checkOut div:nth-child(9){ 
     background-color: #15161e; 
     color: #fff; 
 } 
 .card .checkOut div:nth-child(10){ 
     background-color: #0ee80e; 
     color: #fff; 
 } 
 .listCard li{ 
     display: grid; 
     grid-template-columns: 100px repeat(3, 1fr); 
     color: #fff; 
     row-gap: 10px; 
 } 
 .listCard li div{ 
     display: flex; 
     justify-content: center; 
     align-items: center; 
 } 
 .listCard li img{ 
     width: 90%; 
 } 
 .listCard li button{ 
     background-color: #fff5; 
     border: none; 
 } 
 .listCard .count{ 
     margin: 0 10px; 
 }


/* ******************************Media queries**************** */
@media(max-width:768px){
    .navbar{
        opacity: 0.95;
    }
    .navbar-container input[type='checkbox'],
    .navbar-container .hamburger-lines{
        display: block;
    }
    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }
    .navbar-container input[type='checkbox']{
        position: absolute;
        display: block;
        height: 32px;
        width: 40px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }
    .navbar-container .hamburger-lines{
        display: block;
        height: 32px;
        width: 40px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar-container .hamburger-lines .line{
     display: block;
     height: 4px;
     width: 100%;
    border-radius: 10px;
    background: #333333;
    }
   .navbar-container .hamburger-lines .line1{
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
   }
   .navbar-container .hamburger-lines .line2{
    transition: transform 0.4s ease-in-out;
   }
   .navbar-container .hamburger-lines .line3{
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
   }
   .navbar .menu-items{
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    /* transition: translateX(-150px); */
    transform: translateX(-300px);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px #aaa;
   }
   .navbar .menu-items li{
    margin-bottom :30px;
    font-size: 20px;
    font-weight: 500;
   }
   .logo{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
   }
   .navbar-container input[type='checkbox']:checked ~ .menu-items{
   transform: translateX(0);
   }
   .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line1{
    transform: rotate(45deg);
   }
   .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line2{
    transform: scaleY(0);
   }
   .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line3{
    transform: rotate(-45deg);
   }
   /* *****************food-category*************** */
   .food-container{
    flex-direction: row;
    align-items: stretch;
   }
   .food-type:not(:last-child){
    margin-bottom: 30px ;
   }
   .food-type{
    box-shadow: 5px 5px 10px 0px #aaa;
   }
   .img-container{
    margin: 0;
   }
}
