body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #ffcc00;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    width: 100%;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    margin-bottom: 10px;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.recipe-cards {
    display: flex;
    width: 80vw;
    gap: 20px;
    justify-content: center;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.recipe-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.recipe-card:hover {
    background-color: #e0e0e0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.recipe-description {
    margin-top: 20px;
}

.recipe-text{
    display: none;
}

img{
    height: 100px;
}